/* style001.css */

body
{
    padding: 20px;
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

button
{
    background: rgb(0, 0, 0);
    border: solid 1px rgb(100, 100, 100);
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-start; /* no stretch */
    font-size: 15px;
    color: rgb(100, 100, 100);
}

button:hover
{
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(255, 0, 255);
}

input
{
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

hr
{
    margin: 1px;
}

a
{
    text-decoration: none;
    color: rgb(0, 255, 255);
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    color: rgb(255, 0, 255);
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track
{
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(120, 120, 120, 0.6);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: rgba(120, 120, 120, 0.9);
}

.menu
{
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    align-self: flex-start; /* no stretch */
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.menu:hover
{
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

.menu:active
{
    color: rgb(255, 0, 255);
}

.panel
{
    border: solid 4px rgb(70, 70, 70);
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    z-index: 5000;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 255, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

